*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.header{ 
  background-color: rgb(59, 59, 59);
  text-align: center;
  padding-bottom: 1rem;
}

.header li{
  display: inline-block;
  padding: 0 2rem;
  text-transform: uppercase;
  margin-bottom: .2rem;
  position: relative;
}

.special-li:after{
  content: '';
  width: .2rem;
  background: red;
  position: absolute;
  height: 100%;
  right: -.50rem;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.logo:before {
  /* add shiny special button here */
}

#game{
  border: 1px solid #DB3A8B
}

.scoreboard{
  /* background: red; */
  text-align: center;
}

.scoreboard{
  font-size: 5rem;
  display: inline-block;
}

.scoreboard h1{
  font-size: 12rem;
}

.landing-page{
  background: no-repeat center url('/img/wallpaper.jpg');
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  position: relative;
  height: 120vh;
  /* overflow: hidden; */
}


.landing-page:before{
  content: '';
  position: absolute;
  background: #fff;
  height: 30%;
  width: 100%;
  top: 92%;
  transform-origin: right;
  transform: skewY(8deg);


}


.how-to-play{
  /* background: red; */
  display: grid;
  grid-template-rows: 10rem 10rem 2rem;
  justify-content: center;
  overflow: hidden;
}

.how-to-play img{
  margin-top: 6rem;
  position: relative;
  background-color: red;
}

.how-to-play img:after{
  content: '';
  position: absolute;
  background: #fff;
  height: 100%;
  top: 0%;
  width: 100%;
}

.game-literal {
  background: center url('/img/asphalt.jpg');
}

h4{
  text-align: center;
  margin-top: 6rem;
  background-color: yellow;
  font-size: 2rem;
}

.instruction{
  height: 80vh;
  background-color: purple;
  margin-top: 20rem
}

.below-instructions{
  height: 40vh;
}